{% load wagtailcore_tags wagtailimages_tags %}

<!-- Blog Previews -->
<div class="card text-center" id="blogprev">

	<!-- Tab Titles -->
	<div class="card-header" id="blogprev">
		<ul class="nav nav-tabs card-header-tabs" id="blogTab" role="tablist">
			{% for blog in indexpages %}
			    {% with blog=blog.specific num=forloop.counter0 %}
			    	<li class="nav-item" id="blogprev">
						<a class="nav-link" id="{{ num }}-tab" data-toggle="tab" href="#{{ num }}" role="tab" aria-controls="{{ num }}" aria-selected="false"> {{ blog.title }} </a>
					</li>
			    {% endwith %}
			{% endfor %}
		</ul>
	</div>


	<!-- Tab content -->
	<div class="tab-content" id="blogTabContent" >
		{% for blog in indexpages %}
			{% with posts=blog.get_children.live.specific num=forloop.counter0%}
				<div class="tab-pane fade show" id="{{ num }}" role="tabpanel" aria-labelledby="{{ num }}-tab">

					Latest {{ blog.title }} post:
					{% with posts|dictsort:"first_published_at"|last as new %}
			    		<h2><a href="{{ new.url }}">
			    			{{ new.title }}
			    		</a></h2>
						<p>{{ new.intro }}</p>
					{% endwith %}

					Most viewed {{ blog.title }} post:
					<br>
						No Views Yet!
					<br>
			    	Random {{ blog.title }} post:
			    	{% if posts|length %}
				    	{% with posts|dictsort:"first_published_at"|slice:":-1"|random as rand %}<!--exclude new-->
				    		<h2><a href="{{ rand.url }}">
				    			{{ rand.title }}
				    		</a></h2>
							<p>{{ rand.intro }}</p>
				    	{% endwith %}
			    	{% endif %}
				</div>
			{% endwith %}
		{% endfor %}
	</div>
</div>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
	$ (document).ready(function() {
		// Initial active
		$ ('#0').addClass('active');
		$ ('#0-tab').addClass('active');
		
		// Timed switch
		// var i = 1;
		var myVar = setInterval(Timer, 6000);
		function Timer() {
			i = parseInt($ ("div.active").attr("id"))+1;
			$ ('div.active').removeClass('active');
			$ ('a.active').removeClass('active');

			//id = '#'+((i++)%3).toString();
			id = '#'+(i%3).toString(); //++ didnt work,weird
		    $ (id).addClass('show active');
		    $ (id+'-tab').addClass('active'); //.focus not formatted
		};

		// Stop in area
		// $('a').click( function() {
		//     clearInterval(myVar);
		// });
		$('#blogprev').mouseenter( function() {
		    clearInterval(myVar);
		});

		// Restart when gone
		$('#blogprev').mouseleave( function() {
		    myVar = setInterval(Timer, 6000);
		    return myVar;
		});
	}); 
</script>