{% load wagtailcore_tags wagtailimages_tags %}

<!--Schedge-->
<a class="tile" id="keytile"> 
	<img src="images/projects/sched2.jpg" class="tile__media">

	<span class="tile__content">
    	<h1 class="h-5 text-white">Sci-Schedge</h1>
		<hr class="my-1" style = "background-color: white;"/>
		<p class="lead text-white d-none d-sm-block">Use modern methods of computation to implement the latest health guidelines in your life.</p>
		<div class="btn btn-primary outline d-none d-sm-inline" id="hoverbtn" href="#" role="button">Learn more</div>
	</span>
</a>