#reff {
    background-color: rgba(0,225,0,1);
    color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked < #reff {
  background-color: rgba(0,225,0,0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}









/***********/

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 1400px;
  margin: auto;
  position: relative;
}

.ais-input {
  width: 100%;
  outline: none;
  font-size: 15px;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 2px;
  margin: 20px 0;
  margin-right: 5%;
  padding-left: 40px;
}

.ais-search-box__submit,
.ais-clear {
  background: none;
  border: none;
  position: absolute;
  z-index: 30;
  top: 30px;
}

.ais-search-box__submit {
  left: 10px;
}

.ais-clear {
  right: 10px;
}

.ais-clear--disabled {
  display: none;
}



.ais-powered-by {
  float: right;
  margin-right: 10px;
}

.ais-powered-by svg {
  vertical-align: bottom;
}

.search-result {
  padding: 10px 20px 20px;
  width: 25%;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;

  position: relative;
  border-radius: 3px;
  min-width: 220px;
  background: #FFF;

  display: inline;
  float: left;
  transition: all .5s;
}

.result__info {
  position: absolute;
  width: 100%;
  padding: 0px 20px 20px;
  bottom: 0;
  left: 0;
}

.result__image {
  margin-bottom: 100px;
}

.result__name {
  font-size: 14px;
  font-weight: bold;
}

.result__name mark,
.result__type mark {
  font-style: normal;
  background: rgba(143, 187, 237, .1);
  box-shadow: inset 0 -1px 0 0 rgba(69, 142, 225, .8);
}

.result__type mark {
  background: rgba(143, 187, 237, .1);
  border-radius: 0;
  box-shadow: inset 0 -1px 0 0 rgba(69, 142, 225, .8);
  margin: 0;
}

.result__price {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.result__type {
  color: #a2a2a2;
  font-size: 12px;
}

.result__rating {
  margin-top: 10px;
}

.result__star {
  width: 1em;
  height: 1em;
}

.result__star:before {
  content: '\2605';
  color: #FBAE00;
}

.result__star--empty:before {
  content: '\2606';
  color: #FBAE00;
}