{% load wagtailcore_tags wagtailimages_tags %}

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<div id="test">
    <input type="text" placeholder="Sort by" v-model="search"/>
    <div v-for="pages in filteredPages">
        <span>
            <img style="max-width:60px" src='https://i.stack.imgur.com/CE5lz.png' class="profile-pic" />
        </span>
        <a :href='pages.meta.html_url'>[[pages.title]]</a>
    </div>
    <!--see output [[pages]] -->
</div>


<script type="text/javascript" id="myscript" endpoint = "{{test}}">
var endpoint = $('#myscript').attr("endpoint");

var app=new Vue({
    el: "#test",
    delimiters: ['[[', ']]'],
    data: function() {
            return {
            search: '',
            pages: []};
    },

    root: 'http://127.0.0.1:8000',

    methods: {
        getPages: function () {
            this.$http.get(endpoint).then(response => {this.pages = response.body.items;})
        }
    },

    created: function () {
        this.getPages();
    },
    
    computed: {
        filteredPages:function() {
           var self=this
           return this.pages.filter(function(test){return test.title.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
           //return this.pages.filter(function(test){return test.meta.html_url.indexOf('sci-log')>=0;});
        }
    },

    });
</script>